- name: Deploy to EC2
  uses: appleboy/ssh-action@v1.0.0
  with:
    host: ${{ secrets.EC2_HOST }}
    username: ${{ secrets.EC2_USER }}
    key: ${{ secrets.EC2_SSH_KEY }}
    port: 22
    script: |
      docker pull ashish123987/react-nginx-app:latest
      docker stop react-app || true
      docker rm react-app || true
      docker run -d -p 80:80 --name react-app ashish123987/react-nginx-app:latest
